/ Breadcrumb Area
%section.breadcrumb-area
  .container
    .row
      .col-md-12
        .breadcrumb-box
          %ul.list-unstyled.list-inline
            %li.list-inline-item
              %a{:href => "#"} Home
              %i.fa.fa-angle-right
            %li.list-inline-item News Details
/ End Breadcrumb Area
/ News Details Area
%section.category-details
  .container
    .row
      .col-lg-8.col-md-12
        .row
          .col-md-12
            .news-heading
              %h4= @article.title
              %ul.list-unstyled.list-inline
                %li.list-inline-item
                  %i.fa.fa-user-o
                  %a{:href => "#"} Mike
                %li.list-inline-item
                  %i.fa.fa-calendar
                  February 11, 2019
                %li.list-inline-item
                  %i.fa.fa-commenting-o
                  %a{:href => "#"} (09 Comments)
            .news-content
              = image_tag @article.image, class: 'img-fluid'
              = @article.body.html_safe
          .col-md-12
            .social-tag.d-flex.justify-content-between
              .social
                %ul.list-unstyled.list-inline
                  %li.list-inline-item
                    %a{:href => ""} Facebook
                  %li.list-inline-item
                    %a{:href => ""} Twitter
                  %li.list-inline-item
                    %a{:href => ""} Google Plus
                  %li.list-inline-item
                    %a{:href => ""} Pinterest
              .tag
                %ul.list-unstyled.list-inline
                  %li.list-inline-item Tags :
                  %li.list-inline-item
                    %a{:href => ""}> Lifestyle
                    ,
                  %li.list-inline-item
                    %a{:href => ""}> Business
                    ,
                  %li.list-inline-item
                    %a{:href => ""} Sports
          .col-md-12
            .news-author.d-flex
              .author-img
                %img{:alt => "", :src => "images/author.jpg"}/
              .author-content
                %h6
                  Author :
                  %a{:href => ""} Md Tahmidur Rahman
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi doloribus unde molestias laborum delectus adipisci, eos repellat in debitis cum impedit numquam, architecto, facilis.
                %ul.list-unstyled.list-inline.f-social
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-facebook
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-twitter
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-linkedin
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-google-plus
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-rss
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-youtube
          .col-md-12
            .comment-sec
              .sec-title
                %h5
                  Comments
                  %span (03)
              .comment-box.d-flex
                .comment-img
                  %a{:href => ""}
                    %img{:alt => "", :src => "images/comm-1.jpg"}/
                .comment-con
                  %ul.list-unstyled.list-inline
                    %li.list-inline-item
                      %a{:href => ""} John Doe
                    %li.list-inline-item
                      %a{:href => ""} Reply
                  %span Feb 11, 2019 at 3:15pm
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
              .comment-box.comment-box2.d-flex
                .comment-img
                  %a{:href => ""}
                    %img{:alt => "", :src => "images/comm-2.jpg"}/
                .comment-con
                  %ul.list-unstyled.list-inline
                    %li.list-inline-item
                      %a{:href => ""} Mary Chang
                    %li.list-inline-item
                      %a{:href => ""} Reply
                  %span Feb 11, 2019 at 3:15pm
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
              .comment-box.d-flex
                .comment-img
                  %a{:href => ""}
                    %img{:alt => "", :src => "images/comm-3.jpg"}/
                .comment-con
                  %ul.list-unstyled.list-inline
                    %li.list-inline-item
                      %a{:href => ""} Kate Brown
                    %li.list-inline-item
                      %a{:href => ""} Reply
                  %span Feb 11, 2019 at 3:15pm
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
          .col-md-12
            .comment-form
              .sec-title
                %h5 Leave Your Comment
              %form.com-form{:action => "#"}
                .row
                  .col-md-6
                    %input{:name => "name", :placeholder => "Enter Your Name", :type => "text", :value => ""}/
                  .col-md-6
                    %input{:name => "email", :placeholder => "Enter Your Email", :type => "text", :value => ""}/
                  .col-md-12
                    %textarea{:name => "name", :placeholder => "Your Comment Here"}
                    %button{:name => "button", :type => "button"} Post Comment
      .col-lg-4.col-md-12
        .row
          .col-md-12
            = render 'shared/follow_us_sidebar'
          .col-md-12
            .tab-widget
              %ul.nav.nav-tabs{:role => "tablist"}
                %li.nav-item
                  %a.nav-link.active{"data-toggle" => "tab", :href => "#recent"} Recent
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#popular"} Popular
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#comment"} Comment
              / Tab panes
              .tab-content
                #recent.tab-pane.fade.show.active{:role => "tabpanel"}
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-6.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 20 Seconds ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-11.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 4 minutes ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-7.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 47 minutes ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-4.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 1 Hours ago
                #popular.tab-pane.fade{:role => "tabpanel"}
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-3.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-8.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-9.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-12.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                #comment.tab-pane.fade{:role => "tabpanel"}
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-1.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> James
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-2.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Mary
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-1.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> John
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-2.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Anna
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-1.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Maxx
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
