/ Breadcrumb Area
%section.breadcrumb-area
  .container
    .row
      .col-md-12
        .breadcrumb-box
          %ul.list-unstyled.list-inline
            %li.list-inline-item
              %a{:href => "#"} Home
              %i.fa.fa-angle-right
            %li.list-inline-item News Details
/ End Breadcrumb Area
/ News Details Area
%section.category-details
  .container
    .row
      .col-lg-8.col-md-12
        .row
          .col-md-12
            .news-heading
              %h4 It is usually composed of several sentences that together developed one. It is usually composed of several sentences.
              %ul.list-unstyled.list-inline
                %li.list-inline-item
                  %i.fa.fa-user-o
                  %a{:href => "#"} Mike
                %li.list-inline-item
                  %i.fa.fa-calendar>
                  February 11, 2019
                %li.list-inline-item
                  %i.fa.fa-commenting-o
                  %a{:href => "#"} (09 Comments)
            .news-content
              %img.img-fluid{:alt => "", :src => "images/details-1.jpg"}/
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam esse quisquam, aperiam quos, sunt nobis molestiae unde rerum quo sequi, recusandae mollitia consequuntur, sed repudiandae sit? Officia, neque itaque
                quos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolores quod error ipsa excepturi nemo maxime accusamus, illum, voluptates blanditiis consectetur animi tenetur ullam sunt nesciunt, asperiores
                eveniet incidunt odio!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, adipisci quos beatae illo reiciendis illum consectetur! Magni voluptatum ipsam dolore dicta enim voluptates vitae quis
                maiores, dolorum reiciendis. Voluptates, reiciendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ducimus esse iusto temporibus suscipit dolorem fugit. Libero quia, est soluta culpa facilis
                aperiam et vero rerum natus repellendus vel pariatur.
            .news-comment
              %i.fa.fa-quote-right
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quam perspiciatis exdicta, quibusdam ut. Id unde recusandae esse dignissimos iure mollitia laborum aperiam? Sequi iusto delectus minus libero iusto
                quas.
              %span ANDRU JAMES
            .row
              .col-md-5.padding-fix-r
                .news-img-sm
                  %img.img-fluid{:alt => "", :src => "images/details-2.jpg"}/
              .col-md-7
                .news-sm-content
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tempora animi esse asperiores! Quibusdam facere eaque rem doloremque, iure velit nulla quo? Harum molestias officia magnam nam eius nisi
                    illum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium perspiciatis asperiores ullam, tempora quae doloribus, voluptas iure laborum eveniet ipsa natus aspernatur.Sit tempora animi esse
                    asperiores! Quibusdam facere eaque rem.
            .news-btm-txt
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet necessitatibus laudantium est delectus reprehenderit hic maxime, inventore repudiandae culpa quam? Ratione earum dolorum dolorem soluta aliquam
                possimus commodi numquam voluptatibus.
          .col-md-12
            .social-tag.d-flex.justify-content-between
              .social
                %ul.list-unstyled.list-inline
                  %li.list-inline-item
                    %a{:href => ""} Facebook
                  %li.list-inline-item
                    %a{:href => ""} Twitter
                  %li.list-inline-item
                    %a{:href => ""} Google Plus
                  %li.list-inline-item
                    %a{:href => ""} Pinterest
              .tag
                %ul.list-unstyled.list-inline
                  %li.list-inline-item Tags :
                  %li.list-inline-item
                    %a{:href => ""}> Lifestyle
                    ,
                  %li.list-inline-item
                    %a{:href => ""}> Business
                    ,
                  %li.list-inline-item
                    %a{:href => ""} Sports
          .col-md-12
            .news-author.d-flex
              .author-img
                %img{:alt => "", :src => "images/author.jpg"}/
              .author-content
                %h6
                  Author :
                  %a{:href => ""} Md Tahmidur Rahman
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi doloribus unde molestias laborum delectus adipisci, eos repellat in debitis cum impedit numquam, architecto, facilis.
                %ul.list-unstyled.list-inline.f-social
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-facebook
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-twitter
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-linkedin
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-google-plus
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-rss
                  %li.list-inline-item
                    %a{:href => ""}
                      %i.fa.fa-youtube
          .col-md-12
            .comment-sec
              .sec-title
                %h5
                  Comments
                  %span (03)
              .comment-box.d-flex
                .comment-img
                  %a{:href => ""}
                    %img{:alt => "", :src => "images/comm-1.jpg"}/
                .comment-con
                  %ul.list-unstyled.list-inline
                    %li.list-inline-item
                      %a{:href => ""} John Doe
                    %li.list-inline-item
                      %a{:href => ""} Reply
                  %span Feb 11, 2019 at 3:15pm
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
              .comment-box.comment-box2.d-flex
                .comment-img
                  %a{:href => ""}
                    %img{:alt => "", :src => "images/comm-2.jpg"}/
                .comment-con
                  %ul.list-unstyled.list-inline
                    %li.list-inline-item
                      %a{:href => ""} Mary Chang
                    %li.list-inline-item
                      %a{:href => ""} Reply
                  %span Feb 11, 2019 at 3:15pm
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
              .comment-box.d-flex
                .comment-img
                  %a{:href => ""}
                    %img{:alt => "", :src => "images/comm-3.jpg"}/
                .comment-con
                  %ul.list-unstyled.list-inline
                    %li.list-inline-item
                      %a{:href => ""} Kate Brown
                    %li.list-inline-item
                      %a{:href => ""} Reply
                  %span Feb 11, 2019 at 3:15pm
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
          .col-md-12
            .comment-form
              .sec-title
                %h5 Leave Your Comment
              %form.com-form{:action => "#"}
                .row
                  .col-md-6
                    %input{:name => "name", :placeholder => "Enter Your Name", :type => "text", :value => ""}/
                  .col-md-6
                    %input{:name => "email", :placeholder => "Enter Your Email", :type => "text", :value => ""}/
                  .col-md-12
                    %textarea{:name => "name", :placeholder => "Your Comment Here"}
                    %button{:name => "button", :type => "button"} Post Comment
      .col-lg-4.col-md-12
        .row
          .col-md-12
            .follow-widget
              .sec-title
                %h5 Follow Us
              %ul.list-unstyled.clearfix
                %li
                  %a{:href => ""}
                    %i.fa.fa-facebook
                    %p 44,410
                %li
                  %a{:href => ""}
                    %i.fa.fa-twitter
                    %p 31,219
                %li
                  %a{:href => ""}
                    %i.fa.fa-rss
                    %p 11,209
                %li
                  %a{:href => ""}
                    %i.fa.fa-linkedin
                    %p 19,323
                %li
                  %a{:href => ""}
                    %i.fa.fa-google-plus
                    %p 29,559
                %li
                  %a{:href => ""}
                    %i.fa.fa-youtube
                    %p 56,717
          .col-md-12
            .tab-widget
              %ul.nav.nav-tabs{:role => "tablist"}
                %li.nav-item
                  %a.nav-link.active{"data-toggle" => "tab", :href => "#recent"} Recent
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#popular"} Popular
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#comment"} Comment
              / Tab panes
              .tab-content
                #recent.tab-pane.fade.show.active{:role => "tabpanel"}
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-6.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 20 Seconds ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-11.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 4 minutes ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-7.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 47 minutes ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-4.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 1 Hours ago
                #popular.tab-pane.fade{:role => "tabpanel"}
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-3.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-8.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-9.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-12.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                #comment.tab-pane.fade{:role => "tabpanel"}
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-1.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> James
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-2.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Mary
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-1.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> John
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-2.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Anna
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/com-1.png"}/
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Maxx
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
          .col-md-12
            .add-widget
              %img.img-fluid{:alt => "", :src => "images/add1.jpg"}/
              .add-layer.text-center
                %p Best Template For Your Online News
                %a{:href => ""} Buy Now
          .col-md-12
            .mv-widget
              .sec-title
                %h5 Most Viewed
              .mv-slider.owl-carousel
                .mv-item
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-3.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-8.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-9.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-12.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                .mv-item
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-6.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-11.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-7.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        %img{:alt => "", :src => "images/lt-sm-4.jpg"}/
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
          .col-md-12.col-md-0
            .app-widget
              %img.img-fluid.app-img{:alt => "", :src => "images/news-app.jpg"}/
              .img-content
                %h4 Stay Connected
                %p Download our app and get latest news and updates. Watch live news anytime.
                %ul.list-unstyled
                  %li
                    %a{:href => "#"}
                      %img{:alt => "", :src => "images/app1.png"}/
                  %li
                    %a{:href => "#"}
                      %img{:alt => "", :src => "images/app2.png"}/
      .col-md-12
        .relate-news
          .sec-title
            %h5 Related News
          .relate-slider.owl-carousel
            .rel-item
              %img{:alt => "", :src => "images/ls-1.jpg"}/
              .rel-layer
                %p
                  %a{:href => ""} It is usually composed of several sentences that together develop one.
                %ul.list-unstyled.list-inline
                  %li.list-inline-item TECHNOLOGY
                  %li.list-inline-item February 11, 2019
            .rel-item
              %img{:alt => "", :src => "images/ls-2.jpg"}/
              .rel-layer
                %p
                  %a{:href => ""} It is usually composed of several sentences that together develop one.
                %ul.list-unstyled.list-inline
                  %li.list-inline-item TECHNOLOGY
                  %li.list-inline-item February 11, 2019
            .rel-item
              %img{:alt => "", :src => "images/lt-bg-3.jpg"}/
              .rel-layer
                %p
                  %a{:href => ""} It is usually composed of several sentences that together develop one.
                %ul.list-unstyled.list-inline
                  %li.list-inline-item TECHNOLOGY
                  %li.list-inline-item February 11, 2019
            .rel-item
              %img{:alt => "", :src => "images/int-1.jpg"}/
              .rel-layer
                %p
                  %a{:href => ""} It is usually composed of several sentences that together develop one.
                %ul.list-unstyled.list-inline
                  %li.list-inline-item TECHNOLOGY
                  %li.list-inline-item February 11, 2019
/ End News Details Area
