%section.menu-area
  .container
    .row
      .col-md-9
        .main-menu
          %ul.list-unstyled.list-inline
            %li.list-inline-item
              %a
                INICIO
                %i.fa.fa-angle-down
              %ul.dropdown.list-unstyled
                - Category.all.each do |category|
                  %li= link_to category.name, "#"
            %li.list-inline-item
              %a
                FUTBOL PROFESIONAL
                %i.fa.fa-angle-down
              %ul.dropdown.list-unstyled
                -# %li
                -#   %a
                -#     Category
                -#     %i.fa.fa-angle-right
                -#   %ul.dropdown-sub.list-unstyled
                -#     %li
                -#       %a{:href => "05-category-one.html"} Category Style 1
                -#     %li
                -#       %a{:href => "06-category-two.html"} Category Style 2
                -#     %li
                -#       %a{:href => "07-category-three.html"} Category Style 3
                -#     %li
                -#       %a{:href => "08-category-four.html"} Category Style 4
                - Category.all.each do |category|
                  %li= link_to category.name, "#"
            %li.list-inline-item
              %a{:href => ""} ¿QUIENES SOMOS?
      .col-md-3
        .clock.text-right
          %span#dg-clock
