%section.mobile-menu-area
  .container
    .row
      .col-md-12
        .mobile-menu
          %nav#dropdown
            %a{:href => ""}
              = image_tag 'logo.png'
            %ul.list-unstyled
              %li
                %a Home
                %ul.list-unstyled
                  %li
                    %a{:href => "index.html"} Home Style 1
                  %li
                    %a{:href => "02-home-two.html"} Home Style 2
                  %li
                    %a{:href => "03-home-three.html"} Home Style 3
              %li
                %a Pages
                %ul.list-unstyled
                  %li
                    %a{:href => "04-about-us.html"} About Us
                  %li
                    %a{:href => "05-category-one.html"} Category Style 1
                  %li
                    %a{:href => "06-category-two.html"} Category Style 2
                  %li
                    %a{:href => "07-category-three.html"} Category Style 3
                  %li
                    %a{:href => "08-category-four.html"} Category Style 4
                  %li
                    %a{:href => "09-news-details-one.html"} Single News 1
                  %li
                    %a{:href => "10-news-details-two.html"} Single News 2
                  %li
                    %a{:href => "12-faq.html"} Faq
                  %li
                    %a{:href => "11-contact.html"} Contact
                  %li
                    %a{:href => "13-404.html"} 404
              %li
                %a{:href => "#"} Politics
              %li
                %a{:href => "#"} Business
              %li
                %a{:href => "#"} Sports
