    <section class="footer-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2019 | Designed With <i class="fa fa-heart"></i> by <a href="" target="_blank">SnazzyTheme</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ftb-menu text-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="">Home</a></li>
                            <li class="list-inline-item"><a href="">Map</a></li>
                            <li class="list-inline-item"><a href="">Site Map</a></li>
                            <li class="list-inline-item"><a href="">Location</a></li>
                            <li class="list-inline-item"><a href="">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-to-top text-center">
            <a data-scroll href="#btt"><i class="fa fa-angle-up"></i></a>
        </div>
    </section>