<section class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <a href="">
                        <%= image_tag 'f-logo.png' %>
                        </a>
                        <ul class="list-unstyled">
                            <li><a>Home</a>
                                <ul class="list-unstyled">
                                    <li><a href="index.html">Home Style 1</a></li>
                                    <li><a href="02-home-two.html">Home Style 2</a></li>
                                    <li><a href="03-home-three.html">Home Style 3</a></li>
                                </ul>
                            </li>
                            <li><a>Pages</a>
                                <ul class="list-unstyled">
                                    <li><a href="04-about-us.html">About Us</a></li>
                                    <li><a href="05-category-one.html">Category Style 1</a></li>
                                    <li><a href="06-category-two.html">Category Style 2</a></li>
                                    <li><a href="07-category-three.html">Category Style 3</a></li>
                                    <li><a href="08-category-four.html">Category Style 4</a></li>
                                    <li><a href="09-news-details-one.html">Single News 1</a></li>
                                    <li><a href="10-news-details-two.html">Single News 2</a></li>
                                    <li><a href="12-faq.html">Faq</a></li>
                                    <li><a href="11-contact.html">Contact</a></li>
                                    <li><a href="13-404.html">404</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Politics</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Sports</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
