%header
  %h1 header
%section
  %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam quaerat inventore voluptate exercitationem laboriosam, illo adipisci corporis error vel quis sint, rem laudantium, alias quo ipsam excepturi saepe eaque reiciendis?
%footer
  %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, sint odio. Dicta qui aspernatur odio vel eaque facere reprehenderit asperiores et consectetur ut illo ex, animi aperiam! Exercitationem, reiciendis debitis!
